<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Usernames:
    <ul>
    <% usernames.map(user => {%>
        <li><%= user.username %></li>
    <% })%>
    </ul> 
    <a href="/new">Add a new name</a>

    <form action="/" method="GET">
        <input type="text" name="search" id="search">
        <button type="submit">Search</button>
    </form>

    <form action="/delete" method="POST"><button type="submit">Delete All</button></form>
</body>
</html>